body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.movieForm {
  padding: 10px;
}

.formLabel {
  padding-top: 10px;
}

.okButton {
  padding-top: 10px;
}

.actionButtons button {
  margin-right: 5px;
}

.actionButtons button:last-child{
  margin-right: 0px;
}
